.copy-list {
    overflow:auto;
    height:75vh;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    border: 1px solid red;
    width:60%;
}

.eachCopy {
    position:relative;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    overflow:hidden;
    width:100%;
    width: 250px;
    height:250px;
    margin:10px;
    padding:5px;
    border-radius: 5%;
    background: #000000;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size:16px;
}

.eachCopy * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.eachCopy img {
    width:100%;
    position:relative;
    opacity:0.9;
}

.eachCopy-container {
    position:absolute;
    /* width:95%;
    height:95%; */
    /* display:flex;
    flex-flow:column nowrap;
    justify-content:space-between; */
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-radius: 3%;
    border-width: 1px 1px 0;
}

.eachCopy-info {
    overflow:hidden;
    margin:15px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position:absolute;
    bottom: 0;
    /* width:100%; */
}

.eachCopy-title, .eachCopy-writer, .eachCopy-likeCount {
    /* margin:5px 5px 0 5px; */
    display:table;
    margin:5px auto;
    padding:0 10px;
    position:relative;
    text-align:center;
    width:auto;
    /* text-transform:uppercase; */
}

.eachCopy-info:before,
.eachCopy-info:after {
    position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    background: white;
    /* top: 50%; */
}

.eachCopy-info:before {
    left: -1000%;
}

.eachCopy-info:after {
    right: -1000%;
}

.eachCopy-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /* position:absolute; */
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    line-height: 1.6em;
    font-size: 0.9em;
}


.eachCopy:hover img {
    opacity: 0.25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.eachCopy:hover .eachCopy-container {
    top: 7%;
    bottom:7%
}

.eachCopy:hover p {
    opacity:1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}