@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.copy-list {
  overflow:auto;
  height:75vh;
  display:flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  width:60%;
}

.eachCopy {
  width: 250px;
  height:250px;
  margin:10px;
}

.eacyCopy:hover {
	box-shadow: 0px 15px 20px rgba(2, 0, 36, 0.4);
}

.eachCopy-container {
  position: relative;
  overflow: hidden;
  margin: 10px;
  height:100%;
  width: 100%;
  background: #000000;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  /* color: #ffffff; */
  color:whitesmoke;
  /* color:#1c1f24; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  border-radius: 3%;
  box-shadow:5px 4px 5px rgb(160, 160, 160);

}

.eachCopy-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.eachCopy-container img {
  width:250px;
  height:250px;
  position: relative;
  opacity: 0.9;
}

.eachCopy-content {
  position: absolute;
  top: 40%;
  left: 7%;
  right: 7%;
  bottom: 40%;
  border: 1px solid whitesmoke;
  border-width: 1px 1px 0;
}

.eachCopy-info {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.eachCopy-info h2 {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
  padding:2px;
}

.eachCopy-info .info-writer {
  display: table;
}

.eachCopy-info h2:before,
.eachCopy-info h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: whitesmoke;
  top: 50%;
}
.eachCopy-info h2:before {
  left: -1000%;
}
.eachCopy-info h2:after {
  right: -1000%;
}

.eachCopy-content p {
  top: 35%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
  text-align: left;
}

/* .eachCopy-container:hover {
  color:whitesmoke;
} */

.eachCopy-container:hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.eachCopy-container:hover .eachCopy-content {
  /* border: 1px solid whitesmoke; */
  top: 7%;
  bottom: 15%;
}

.eachCopy-container:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.fa-heart{
  color:red;
}

.inactive{
  color:aliceblue
}