* {
	font-size: 1rem;
}

.view {
	width: 100%;
	height: 100%;
	display: flex;
}

article {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

aside {
	flex: 5 3 auto;
	display: flex;
	flex-flow: row wrap;
}

#loginInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 10 3 auto;
	font-family: sans-serif;
	background-color: #34495e;
}

#loginInfo_border {
	width: 25vw;
	height: 25vh;
	border: 1px dotted black;
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;
	top: 10vh;
	height: 55vh;
	justify-content: space-around;
	background-color: #ffffff;
	border-radius: 15px;
}

p {
	margin: 0;
}

#input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 20vh;
}

#email {
	width: 15vw;
	margin: 0;
	border: 0;
	border-bottom: 2px solid #7e7e83;
	color: #636e72;
	outline: none;
	background: none;
}

#pw {
	width: 15vw;
	margin: 0;
	border: 0;
	border-bottom: 2px solid #7e7e83;
	color: #636e72;
	outline: none;
	background: none;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 20vh;
}

/*-----------------------------------------*/
#LoginButton1 {
	display: inline-block;
	width: 10vw;
	height: 4vh;
	text-align: center;
	text-decoration: none;
	line-height: 34px;
	outline: none;
	position: relative;
	-webkit-perspective: 300px;
	perspective: 300px;
	transform: translate(0%, -200%);
	cursor: pointer;
}
#LoginButton1::before,
#LoginButton1::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: "";
}
#LoginButton1,
#LoginButton1::before,
#LoginButton1::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#LoginButton1 span {
	display: block;
	position: absolute;
	width: 10vw;
	height: 5vh;
	border: 2px solid #333;
	text-align: center;
	line-height: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}
#LoginButton1 span:nth-child(1) {
	background-color: #333;
	color: #fff;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 50% -10px;
	-moz-transform-origin: 50% 50% -10px;
	transform-origin: 50% 50% -10px;
}
#LoginButton1 span:nth-child(2) {
	background-color: #fff;
	color: #333;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform-origin: 50% 50% -10px;
	-moz-transform-origin: 50% 50% -10px;
	transform-origin: 50% 50% -10px;
}
#LoginButton1:hover span:nth-child(1) {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
#LoginButton1:hover span:nth-child(2) {
	background-color: #333;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}

#LoginButton2 {
	border-radius: 15px;
	transform: translate(0%, -180%);
	width: 15vw;
	height: 4vh;
	text-align: center;
	background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}
#LoginButton2:hover {
	background-position: right;
}
/*-----------------------------------------*/

#__SignUp__ {
	transform: translate(0, -120%);
	overflow: hidden;
	/* border: #000000 solid 1px; */
	width: 20vw;
	display: inline-block;
}

.SignUp1 {
	cursor: pointer;
	transform: translate(-48%, 0);
	width: 10vw;
	text-decoration: underline black;
	border: 1px solid black;
	background-color: azure;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
	color: #000000;
	background-color: #ffffff;
}

#SignUp3 {
	cursor: pointer;
	width: 10vw;
	z-index: 10;
	transform: translate(-74%, 0);
	position: relative;
	border: 0;
	background-color: #000000;
	text-decoration: underline #ffffff;
	color: #ffffff;
	left: -50%;
	font-size: 1rem;
	transition: left 0.2s ease;
	-webkit-transition: left 0.3s ease;
	-moz-transition: left 0.2s ease;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 11px;
}

#__SignUp__:hover #SignUp3 {
	left: 63%;
	transition: left 0.40000000000000004s ease;
	-webkit-transition: left 0.30000000000000004s ease;
	-moz-transition: left 0.30000000000000004s ease;
}

#oauth-button {
	width: 30vw;
	height: 10vh;
	border: 1px solid black;
	position: relative;
	top: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#OAuth-Github {
	/* position:absolute;
    left:41vw;
    top:60vh; */
}

.btn.btn-google-plus {
	background-color: #ef9a9a;
	border-color: #ef9a9a;
	-webkit-box-shadow: 0 3px 0 #b3e5fc;
	box-shadow: 0 3px 0 #b3e5fc;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0.2em;
}

a {
	text-decoration: none;
}

.btn.btn-google-plus:active {
	top: 3px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.candidate1 {
	margin: 10px 5px 5px;
	background: #1aab8a;
	color: #fff;
	border: none;
	position: relative;
	height: 40px;
	font-size: 1em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}
.candidate1:hover {
	background: #fff;
	color: #1aab8a;
}
.candidate1:before,
.candidate1:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1aab8a;
	transition: 400ms ease all;
}
.candidate1:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.candidate1:hover:before,
.candidate1:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

div .candidate2 {
	position: relative;
	display: inline-block;
	/* font-size: 11px; */
	padding: 20px 30px;
	color: white;
	margin: 10px 5px 5px;
	border-radius: 6px;
	text-align: center;
	transition: top 0.01s linear;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
div.candidate2.blue:hover {
	background-color: #699dd1;
}
div .candidate2:active {
	top: 9px;
}

div .candidate2.blue {
	background-color: #6da2d9;
	box-shadow: 0 0 0 1px #6698cb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 rgba(110, 164, 219, 0.7), 0 8px 0 1px rgba(0, 0, 0, 0.4),
		0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
div .candidate2.blue:active {
	box-shadow: 0 0 0 1px #6191c2 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 0 0 1px rgba(0, 0, 0, 0.4);
}

a.candidate3.thar-one {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #f7ca18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.candidate3.thar-one:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}

a.candidate3.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}

a.candidate3.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: "";
	color: #000 !important;
	background: #f7ca18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

article a.animated-button.thar-two {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #f7ca18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
article a.candidate3.thar-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
article a.candidate3.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
article a.candidate3.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: "";
	color: #000 !important;
	background: #f7ca18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.candidate3.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #f7ca18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.candidate3.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.candidate3.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.candidate3.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: "";
	color: #000 !important;
	background: #f7ca18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.candidate3.thar-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #f7ca18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.candidate3.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
a.candidate3.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.candidate3.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: "";
	color: #000 !important;
	background: #f7ca18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

/* animated-button Global Button Style */
a.animated-button:link,
a.animated-button:visited {
	position: relative;
	display: block;
	margin: 10px auto 0;
	padding: 7px 10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 0.08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after,
a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
	color: #fff;
	text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link,
a.animated-button:visited {
	position: relative;
	display: block;
	margin: 10px auto 0;
	padding: 7px 10px;
	color: #fff;
	font-size: 14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 0.08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.button_submit {
	margin: 10px auto 0;
	padding: 7px 10px;
	width: 140px;
	height: 45px;
	/* font-family: "Roboto", sans-serif; */
	font-family: "Georgia", serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button_submit:hover {
	background-color: #2ee59d;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

/* 바로쓰는 버튼 CSS Global Style*/
.button {
	display: inline-block;
	width: 200px;
	height: 34px;
	text-align: center;
	text-decoration: none;
	line-height: 34px;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: "";
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/*button1 ~ 20*/

.button.button1 {
	background-color: #333;
	color: #fff;
}
.button.button1:hover {
	background-color: #59b1eb;
}

.button.button2 {
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 30px;
}
.button.button2:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

.button.button3 {
	position: relative;
	z-index: 2;
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 30px;
}
.button.button3:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}
.button.button3::before,
.button.button3::after {
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #333;
}
.button.button3::before {
	right: 0;
}
.button.button3::after {
	left: 0;
}
.button.button3:hover::before,
.button.button3:hover::after {
	width: 0;
	background-color: #59b1eb;
}

.button.button4 {
	position: relative;
	z-index: 2;
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 30px;
}
.button.button4:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}
.button.button4::before,
.button.button4::after {
	left: 0;
	width: 100%;
	height: 50%;
	background-color: #333;
}
.button.button4::before {
	top: 0;
}
.button::after {
	bottom: 0;
}
.button.button4:hover::before,
.button.button4:hover::after {
	height: 0;
	background-color: #59b1eb;
}

.button.button5 {
	background-color: #333;
	color: #fff;
}
.button.button5:hover {
	letter-spacing: 5px;
}

.button.button6 {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	line-height: 30px;
}
.button.button6:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.button.button6background {
	background-color: #333;
	width: 203px;
	height: auto;
}

.button.button7 {
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 30px;
}
.button.button7:hover {
	border-style: dashed;
}
.button.button8 {
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 28px;
}
.button.button8::after {
	top: 4px;
	left: 4px;
	width: 188px;
	height: 22px;
	border: 2px solid #333;
	opacity: 0;
}
.button.button8:hover::after {
	opacity: 1;
}

.button.button9 {
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 30px;
	overflow: hidden;
}
.button.button9:hover {
	color: #fff;
}
.button.button9::after {
	top: -100%;
	width: 100%;
	height: 100%;
}
.button.button9:hover::after {
	top: 0;
	background-color: #333;
}

.button.button10 {
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 30px;
	overflow: hidden;
}
.button.button10:hover {
	color: #fff;
}
.button.button10::after {
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;
}
.button.button10:hover::after {
	top: 0;
	left: 0;
	background-color: #333;
}

.button.button11 {
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 30px;
	overflow: hidden;
}
.button.button11:hover {
	color: #fff;
}
.button.button11::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}
.button.button11:hover::after {
	background: #333;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.button.button12 {
	position: relative;
	z-index: 2;
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 30px;
	overflow: hidden;
}
.button.button12:hover {
	color: #fff;
}
.button.button12::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.button.button12:hover::after {
	-webkit-transform: scale(2) rotate(180deg);
	transform: scale(2) rotate(180deg);
	background: #333;
}

.button.button13 {
	position: relative;
	z-index: 2;
	border: 2px solid #333;
	color: #333;
	line-height: 30px;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.button.button13:hover {
	color: #fff;
}
.button.button13::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0;
}
.button.button13:hover::after {
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
	opacity: 1;
}
.button.button14 {
	position: relative;
	z-index: 2;
	border: 2px solid #333;
	color: #fff;
	line-height: 30px;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.button.button14:hover {
	color: #333;
}
.button.button14::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
}
.button.button14:hover::after {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.button.button15 {
	position: relative;
	-webkit-perspective: 300px;
	perspective: 300px;
}
.button.button15 span {
	display: block;
	position: absolute;
	width: 200px;
	height: 34px;
	border: 2px solid #333;
	text-align: center;
	line-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}
.button.button15 span:nth-child(1) {
	background-color: #333;
	color: #fff;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 50% -10px;
	-moz-transform-origin: 50% 50% -10px;
	transform-origin: 50% 50% -10px;
}
.button.button15 span:nth-child(2) {
	background-color: #fff;
	color: #333;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform-origin: 50% 50% -10px;
	-moz-transform-origin: 50% 50% -10px;
	transform-origin: 50% 50% -10px;
}
.button.button15:hover span:nth-child(1) {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.button.button15:hover span:nth-child(2) {
	background-color: #333;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}

.button.button16 {
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.button16:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.button.button16:active {
	top: 3px;
	box-shadow: none;
}
.button.button17 {
	position: relative;
	background-color: #f7d034;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #f7ba59;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.buttonbutton17:hover {
	top: -4px;
	box-shadow: 0 7px 0 #f7ba59;
}
.button.button17:active {
	top: 3px;
	box-shadow: none;
}
.button.button18 {
	border: 1px solid #15aeec;
	background-color: #49c0f0;
	background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
	background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
	border-radius: 4px;
	color: #fff;
	line-height: 30px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.button18:hover {
	border: 1px solid #1090c3;
	background-color: #1ab0ec;
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.button.button18:active {
	background: #1a92c2;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
	color: #1679a1;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.button.button19 {
	position: relative;
	border-radius: 4px;
	color: #fff;
	line-height: 30px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0px 1px 0px #f56778;
}
.button.button19,
.button.button19:hover {
	border-bottom: 4px solid #cb5462;
	background-color: #f56778;
	background-image: -webkit-linear-gradient(top, #f997b0, #f56778);
	background-image: linear-gradient(to bottom, #f997b0, #f56778);
	box-shadow: inset 1px 1px 0 #fbc1d0;
}
.button.button19::before,
.button.button19::after {
	bottom: -1px;
	left: -1px;
	width: 200px;
	height: 30px;
	border: 1px solid #ee8090;
	border-bottom: 1px solid #b84d5a;
	border-radius: 4px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
}
.button.button19::before {
	height: 28px;
	bottom: -4px;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 1px 0px #bfbfbf;
}
.button.button19:hover {
	background: #f56778;
	background-image: -webkit-linear-gradient(top, #f56778, #f997b0);
	background-image: linear-gradient(to bottom, #f56778, #f997b0);
	color: #913944;
	text-shadow: 0px 1px 0px #f9a0ad;
}
.button.button19:active {
	bottom: -4px;
	margin-bottom: 4px;
	border: none;
	box-shadow: 1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button.button19:active::before,
.button.button19:active::after {
	border: none;
	box-shadow: none;
}

.button.button20 {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	color: #333;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2),
		inset 0 1px 1px rgba(255, 255, 255, 0.7);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.button.button20:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.button.button21 {
	/* transform: translateX(-50%); */
	/* margin-bottom: 40px; */
	/* width: 80%; */
	/* height: 40px; */
	background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}
.button.button21:hover {
	background-position: right;
}
