#email{
    position: absolute;
    left:40%;
    top:40%
} 

#pw {
    position:absolute;
    left:40%;
    top:44%
}

#Login {
    position:absolute;
    left:45%;
    top:48%
}

#SignUp{
    position:absolute;
    left:44.6%;
    top:52%
}

#AOuth-Google{
    position:absolute;
    left:40.7%;
    top:56%
}

#AOuth-Github {
    position:absolute;
    left:41%;
    top:60%
}