* {
	margin: 0;
	list-style: none;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
  
  .navbar {
	display: flex;
	justify-content: space-around;
	padding-left: 10%;
	padding-right: 10%;
  }

  .navbar div{
	  width: 45%;
  }
  
  .navbar a {
	text-decoration: none;
  }
  
  .navbar-logo {
	display: flex;
	align-items: center;
  }

  .logo {
	margin-left: 35%;
	font-size: 30px;
	text-align: center;
	color: #e8a465;
	text-shadow: 1px 4px 4px lightgrey;
  }

  .navbar-menu-box {
	  align-items: center;
  }

  .navbar-menu {
	display: flex;
	width: 30vw;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .navbar-menu li {
	  text-align: center;
	  width: 50%;
  }
  
  .navbar-controller {
	  margin-left: 25%;
  }

  .navbar-menu-container {
	display: flex;
	align-items: center;
  }
  
  .nav-login {
	margin-left: 35px;
	padding: 0;
	display: flex;
	flex-flow: row;
  }

  .nav-li:nth-child(1){
	background-color: #e7e4cd;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 15px;
  }

  .nav-li:nth-child(2){
	padding-left: 20px;
	padding-right: 20px;
	background-color: #e7e4cd;
  }
  
  a {
	box-sizing: border-box;
	font-family: "Nanum Myeongjo", serif;
	font-weight: bold;
	font-size: 20px;
	color: #77695a;
  }

  a:hover {
	color: #52393b;
  }
  
  .mypage {
	text-align: center;
	background-color: #e7e4cd;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 35%;
  }
  
  .mypage-hover {
	display: none;
	position: absolute;
	background-color: #fcfbf2;
	z-index: 1;
	margin-top: 3%;
	margin-left: 7%;
	margin-right: 10%;
	
  }
  
  .navbar-menu-container:hover .mypage-hover {
	display: flex;
  }
  
  .mypage-list {
	display: flex;
	flex-flow: column;
	line-height: 30px;
  }
  