* {
	margin: 0;
	list-style: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: floralwhite;
	align-items: center;
	height:10vh;
}

.navbar a {
	padding: 0px 20px;
	text-decoration: none;
}

.navbar-menu {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	width: 30vw;
}

.navbar-controller {
	padding-left:0;
	display:flex;
}

/* 
click dropdown format css

.mypage {
	padding-left:0;
	display:none;
	position:absolute;
	z-index: 1;
}

.mypage.active{
	border:1px solid red;
	display:block;
	padding-left:0;
	width:150px;
} */

.mypage-hover {
	display:none;
	position:absolute;
	border:1px solid red;
	z-index:1;
	width:200px;
}

.mypage-control:hover .mypage-hover {
	display:block;
}

.mypage-list {
	display:flex;
	flex-flow:column;
	padding-left:0;
}

.nav-login {
	display:flex;
	padding-left:0;
}