
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
.post-box{
    display: flex;
    flex-flow: column;
    text-align: center;
    display: inline-block;
    height:90%;
    width:30%;
}


.post-copy-box {
    height: 95%; 
    border-radius: 30px;
    text-align: center;
    border: 3px solid #969382;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px #44433B;
}

.post-title {   
    font-family: "Nanum Myeongjo", serif;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 2.5%;
    background-color: transparent;
    margin-bottom: 2.5%;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    outline: none;
    border-left: black;
    border-right: black;
    border-top: black;
}

.post-writer-category-box {
    padding-right: 5%;
    display: flex;
    flex-flow: column;
}

.post-writer {
    font-family: "Nanum Myeongjo", serif;
    border: none;
    padding-bottom: 2.5%;
    background-color: transparent;
    outline: none;
    text-align: right;
}

.post-category {
    padding-bottom: 2.5%;
    font-family: "Nanum Myeongjo", serif;
    text-align-last: right;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    outline: none;
    transition: all 0.2s ease-in 0s
}

.post-category:hover{
    color: #966a1d;
}

.post-righter-box { 
    text-align: right;
}

.post-content {
    width: 80%;
    height: 65%;
    line-height: 1.7;
    font-family: "Nanum Myeongjo", serif;
    padding-top: 5%;
    background-color: transparent;
    border : none;
    outline: none;
    font-size: 15px;
    resize: none;
}

.post-option {
    display:flex;
    flex-flow:column;
}

.post-control-box{
    padding-top: 3%;
}

/* .post-btn {
    font-family: "Nanum Myeongjo", serif;
    border : 1px solid rgba(41, 41, 41, 0.3);
    width: 120px;
    height: 40px;
    transition: all 0.1s ease-in 0s;
    background-color: transparent;
    border-radius: 50px;
    text-align:center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0,0.1);
} */

/* .post-btn:hover{
    background-color: #212020;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
} */