@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2em;
    min-width:25em;
    height:80%;
    width:50%;
    border: 2px solid #969382;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px #44433B;
    border-radius: 30px;
    align-items: center;
    padding:1em 3em;
    /* font-family: "Nanum Myeongjo", serif; */
}


.post_title {   
    font-family: "Nanum Myeongjo", serif;
    width: 100%;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    outline: none; 
    border:none;
    border-bottom:2px solid rgba(0, 0, 0,0.4);
    padding:0.5em 0 0.2em 0;
    margin-top:0.5em;
    color:#555555;
}

.post_info_box {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.post_writer,
.post_category {
    font-family: "Nanum Myeongjo", serif;
    border: none;
    padding:0.3em;
    margin-top:0.5em;
    background-color: transparent;
    outline: none;
    text-align: right;
    color:#555555;
    font-size:1.1rem;
}

.selection {
    text-align: right;
}

.post_category {
    text-align-last: right;
    border: none;
    background-color: transparent;
    /* -webkit-appearance: none; */
    outline: none;
    transition: all 0.2s ease-in 0s;
    width: 10em;
    margin-top:0;
    cursor: pointer;
}


.post_category:hover{
    color: #2D2424;
}

.post-righter-box { 
    text-align: right;
}

.post_content {
    width: 100%;
    height: 30em;
    line-height: 1.7;
    font-family: "Nanum Myeongjo", serif;
    padding: 1.5em 1em;
    background-color: transparent;
    border : none;
    outline: none;
    font-size: 1.1rem;
    resize: none;
    letter-spacing: 0.5px;
    color: #171010;
    overflow: auto;
}

/* .post-option {
    display:flex;
    flex-flow:column;
} */

.post_btn_container{
    padding-top: 1em;
}

/* .post-btn {
    font-family: "Nanum Myeongjo", serif;
    border : 1px solid rgba(41, 41, 41, 0.3);
    width: 120px;
    height: 40px;
    transition: all 0.1s ease-in 0s;
    background-color: transparent;
    border-radius: 50px;
    text-align:center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0,0.1);
} */

/* .post-btn:hover{
    background-color: #212020;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
} */