.alert-box {
    font-size: 0.3rem;
    color: red;
}

.pwAlert {
    font-size: 0.3rem;
    color: rgb(148, 148, 148);
}

.signup-background {
	background-color: azure;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: auto;
}

.signup-inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 70vh;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
	z-index: 100;
    border: 1px solid black;
    width: 27.6vw;
}
.signup-inputs input {
	width: 15vw;
	border: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: inherit;
	border-bottom: 2px solid #7e7e83;
}

.signup-close {
	display: flex;
	justify-content: flex-end;
}

.signup-button {
	background: #ffffff;
	border: 0;
	padding-left: 22.6vw;
}

#signup-click {
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 35px;
	width: 9.6vw;
	text-align: center;
}
#signup-click:hover {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}
