body {
  margin:0;
  background-color: azure;
}

.header {
  border: 1px solid gainsboro;
  height:10vh;
}

.main {
  border: 1px solid wheat;
  height: 80vh;
  display:flex;
  justify-content: center;
  align-items:center;

}

.footer {
  border: 1px solid cornsilk;
  height: 10vh;
}